<template>
  <div class="header">
            <div class="LibSys">
                <img src="@img/LibSysLogo.png">
                <h1> LIBSYS </h1>
            </div>
            <div class="logout">
                <img src="@img/LogoutLogo.png">
                <h2><a href="#" class="logout_btn">Logout</a></h2>
            </div>
        </div>  
</template>

<script>
export default {
  name: "Header"
  }
</script>

