<template>

  <div id="book">
  <div class="home">

        <div class="AddBookBTN">
      <h2 type="button" class="button" data-toggle="modal" data-target="#addmodal">Add Books</h2>
      </div>
 
        <img class="addbooklogo" src="@img/AddBooks.png">

        <div class="body">
          
        <div class="title">
          <h5> Book Management </h5>  
        </div> 


          <table class="list" id="book">

            <thead>
              <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Copies Available</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
               
            <tbody>
                <tr v-for="(book, index) in bookdata" :key="index">
                                <td>{{book.name}}</td>
                                <td>{{book.author}}</td>
                                <td>{{book.copies}}</td>
                                <td>{{book.category}}</td>
                                <td>{{setDate(book.dateregister)}}</td>
                                <td>
                                  <img src="@img/edit.png" type="button" class="" data-target="#updatemodal"
                                        data-toggle="modal" v-on:click="editBook(index)" width="36px" height="33px">
                                    <img src="@img/delete.png" type="button" class="" data-target="#deletemodal"
                                        data-toggle="modal" @click.prevent="setDelete(index)" width="36px" height="33px">
                                </td>
                  </tr>
            </tbody>
          </table>
</div>

      <!-- add -->  
      <div id="addmodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content animate">
            <button type="button" class="closeBtn-book" data-dismiss="modal">Close</button>
              <div class="modal-header">
              </div>

                <h11> Add Books </h11>
                <img class="addbookmodal" src="@img/AddPatron-Modal.png">
                  <div class="modal-input">
                    <div class="form-group">
                      <label for="Name"> Name 
                      <input type="text" name="name" id="name" v-model="book.name"></label>
                    </div>
                    <div class="form-group">
                      <label for="author"> Author 
                      <input type="text" name="author" id="author" v-model="book.author"></label>
                    </div>
                    <div class="form-group">
                      <label for="copies"> Copies 
                      <input type="text" name="copies" id="copies" v-model="book.copies"></label>
                    </div>
                    <div class="form-group">
                      <label for="copies"> Category 
                      <input type="text" name="category" id="category" v-model="book.category"></label>
                    </div>
                  </div>
                    <button v-on:click="createBook(book)" type="button" class="addbook-btn"
                    data-dismiss="modal">Add Patron</button>     
          </div>
        </div>
      </div>

      <!-- update -->  
      <div id="updatemodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content animate">
            <button type="button" class="closeBtn-book" data-dismiss="modal">Close</button>
              <div class="modal-header">
              </div>

                <h11> Update Books </h11>
                <img class="addbookmodal" src="@img/AddPatron-Modal.png">
                  <div class="modal-input">
                    <div class="form-group">
                      <label for="Name"> Name 
                      <input type="text" name="name" id="name" v-model="book.name"></label>
                    </div>
                    <div class="form-group">
                      <label for="author"> Author 
                      <input type="text" name="author" id="author" v-model="book.author"></label>
                    </div>
                    <div class="form-group">
                      <label for="copies"> Copies 
                      <input type="text" name="copies" id="copies" v-model="book.copies"></label>
                    </div>
                    <div class="form-group">
                      <label for="copies"> Category 
                      <input type="text" name="category" id="category" v-model="book.category"></label>
                    </div>
                  </div>
                    <button v-on:click="updateBook(book)" type="button" class="addbook-btn"
                    data-dismiss="modal">Add Patron</button>     
          </div>
        </div>
      </div>



      <!-- delete -->  
      <div id="deletemodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content animate">
              <div class="modal-header">
              </div>

                <h11> DELETE Book </h11>
                  <div class="modal-input">
                    <div class="modal-body pl-5 pr-5">
                            <p>Are you sure do you want to delete this? </p>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary">Close</button>
                            <button type="button" data-dismiss="modal" v-on:click="deleteBook()" class="btn btn-sm btn-danger "> Yes </button>
                        </div>  
                  </div>
          </div>
        </div>
      </div>
 

    <div class="bookselect">
          <h4>Book Management</h4>
          <img class="booklogoselect" src="@img/Book-SELECTED-Logo.png">
        </div>



      </div>
      </div>
      
</template>

<script>
 import toastr from "toastr"
    export default {
        data() {
            return {
                bookdata: [{
                        name: "Computer Programming",
                        author: "John", 
                        copies: "10",
                        category: "Programming",
                        dateregister: 1598781038000,
                    },
                ],
                book: {
                    id: "",
                    name: "",
                    author: "",
                    copies: "",
                    category: "",
                    dateregister: this.setDate(Date.now()),
                },
                }
        },
        mounted: function () {
            document.title = "Book Management"
        },
        methods: {
            createBook(book) {
                if (!this.validate(book)) {
                    for (var e in this.errors) {
                        toastr.error(`${this.errors[e]}`, "Failed");
                    }
                    return;
                }
                this.bookdata.unshift({
                    name: book.name,
                    author: book.author,
                    copies: book.copies,
                    category: book.category,
                    dateregister: book.dateregister,
                });
                this.clearFields();
                toastr.success("Book Created", "Successful");
            },
            editBook(index) {
                this.book.id = index;
                this.book.name = this.bookdata[index].name;
                this.book.author = this.bookdata[index].author;
                this.book.copies = this.bookdata[index].copies;
                this.book.category = this.bookdata[index].category;
            },
            updateBook(book) {
                if (!this.validate(book)) {
                    for (var e in this.errors) {
                        toastr.error(`${this.errors[e]}`, "Failed");
                    }
                    return;
                }
                this.bookdata[book.id].name = book.name;
                this.bookdata[book.id].author = book.author;
                this.bookdata[book.id].copies = book.copies;
                this.bookdata[book.id].category = book.category;
                this.clearFields();
                toastr.success("Book Updated!", "Success");
            },
            setDelete(index) {
                this.bookid = index;
            },
            deleteBook() {
                //Delete Patron
                this.$delete(this.bookdata, this.bookid);
                this.clearFields();
            },
            clearFields() {
                this.book.id = 0;
                this.book.name = "";
                this.book.author = "";
                this.book.copies = "";
                this.book.category = "";
            },
            setDate(date) {
            var d = new Date(date);
            return `${new Intl.DateTimeFormat("en", { month: "long" }).format(
            d
            )} ${new Intl.DateTimeFormat("en", { day: "2-digit" }).format(
            d
            )}, ${new Intl.DateTimeFormat("en", { year: "numeric" }).format(d)}`;
            },
            validate(book) {
                this.errors = [];

                if (book.name && book.author && book.category) {
                    return true;
                }

                if (!book.name) {
                    this.errors.push("Name is required");
                }

                if (!book.author) {
                    this.errors.push("Author is required");
                }

                if (!book.category) {
                    this.errors.push("Category is required");
                }
                return false;
            },
        },
    }
</script>

<style scoped>

@import '../assets/css/style.css';

.modal-content
  {
    background-color: #379683;
    width: 589px;
    height: 415px;
    margin-top: 100px;
    margin-left: 80px;
    color: #EDF5E1;

    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
  
</style>
