<template>
  <div id="dashboard">

    <div class="dashboard">
      <div class="bodybg">   
          
          <h1>Borrowed Books and Returned Books</h1>
          <h2>Popular Book Genre </h2>
        <div class="col-10 col-sm-10 col-lg-6 pb-3">
            <canvas id="barchart" width="280" height="200"></canvas>
        </div>
        
        <div class="col-10 col-sm-10 col-lg-6 pb-3">
            <canvas id="piechart" width="280" height="200"></canvas>
        </div>

      </div>
    </div>
    
    <div class="dashboardselect">
        <h10>Dashboard</h10>
        <img class="dashboardlogoselect" src="@img/Dashboard-SELECTED-Logo.png">
    </div>
    
  </div>

</template>

<script>
import Chart from 'chart.js'

export default {
  name: 'Dashboard',
  components: {

  },

  mounted: function(){
        document.title = "Dashboard"

    var barChart = document.getElementById('barchart').getContext('2d');
    new Chart(barChart, {
      type: 'bar',
      data: {
          labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
          datasets: [
            {
              label: 'Borrowed Books',
              data:[
                  1000,
                  840,
                  545,
                  800,
                  338,
                  493
              ],
              backgroundColor: 'yellow',
              bordrWidth: 1,
              borderColor:'#777',
              hoverBorderWidth:3,
              hoverBorderColor:'#000'
          },
          {
              label: 'Returned Books',
              data:[
                  500,
                  300,
                  700,
                  674,
                  100,
                  975
              ],
              backgroundColor: 'green',
              bordrWidth: 1,
              borderColor:'#777',
              hoverBorderWidth:3,
              hoverBorderColor:'#000'  
          },
          ]
      },
    });

    var pie = document.getElementById('piechart').getContext('2d');
    new Chart(pie, {
        type: 'pie',
        data: {
            labels: ['Comedy', 'Scie-Fi', 'Romance', 'Horror', 'Action'],
            datasets: [{
            label: '# of Votes',
            data: [1000, 638, 855, 337, 523],
            backgroundColor: [
                'rgba(255, 99, 132, 0.6)',
                'rgba(255, 159, 64, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(54, 111, 235, 0.6)'
                
            ],
            }]
        },
        options:{
        legend:{
            position: 'right'
        }
        }
    });
  }
}
</script>
