<template>

  <div id="patron">
  <div class="home">

        <div class="AddPatronBTN">
            <h1 type="button"  data-toggle="modal" data-target="#addmodal">Add Patron</h1>
        </div>


        <img class="addpatronlogo" src="@img/AddPatron.png">

        <div class="body">   

        <div class="title">
          <h7> Patron Management </h7>  
        </div> 

          <table class="list" id="patron">
          

            <thead>
              <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Date Registered</th>
                <th>Action</th>
              </tr>
            </thead>
               
            <tbody>
              <tr v-for="(patron, index) in patrondata" :key="index">
                <td>{{patron.name}}</td>
                <td>{{patron.email}}</td>
                <td>{{setDate(patron.dateregister)}}</td>
                <td>
                  <img src="@img/edit.png" type="button" class="" data-target="#updatemodal"
                    data-toggle="modal" v-on:click="editPatron(index)" width="36px" height="33px">
                  <img src="@img/delete.png" type="button" class="" data-target="#deletemodal"
                    data-toggle="modal" @click.prevent="setDelete(index)" width="36px" height="33px">
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- add -->  
        <div id="addmodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content animate">
            <button type="button" class="closeBtn-patron" data-dismiss="modal">Close</button>
              <div class="modal-header">
              </div>

                <h10> Add Patron </h10>
                <img class="addpatronmodal" src="@img/AddPatron-Modal.png">
                  <div class="modal-input">
                    <form>
                    <div class="form-group">
                    <label for="name"> Name 
                      <input type="text" name="name" id="name" v-model="patron.name"></label>
                    </div>
                    <div class="form-group">
                    <label for="email"> Email Address 
                      <input type="text" name="emailAdd" id="emailAdd" v-model="patron.email"></label>
                    </div>
                    </form>
                  </div>
                    <button v-on:click="createPatron(patron)" type="button" class="addpatron-btn"
                      data-dismiss="modal">Add Patron</button>     
          </div>
        </div>
      </div>

      <!-- update -->  
        <div id="updatemodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content animate">
            <button type="button" class="closeBtn-patron" data-dismiss="modal">Close</button>
              <div class="modal-header">
              </div>

                <h10> Update Patron </h10>
                <img class="addpatronmodal" src="@img/AddPatron-Modal.png">
                  <div class="modal-input">
                    <form>
                    <div class="form-group">
                    <label for="name"> Name 
                      <input type="text" name="name" id="name" v-model="patron.name"></label>
                    </div>
                    <div class="form-group">
                    <label for="email"> Email Address 
                      <input type="text" name="emailAdd" id="emailAdd" v-model="patron.email"></label>
                    </div>
                    </form>
                  </div>
                    <button v-on:click="updatePatron(patron)" type="button" class="addpatron-btn"
                      data-dismiss="modal">Add Patron</button>     
          </div>
        </div>
      </div>


       <!-- delete -->  
      <div id="deletemodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content animate">
              <div class="modal-header">
              </div>

                <h11> DELETE Patron </h11>
                  <div class="modal-input">
                    <div class="modal-body pl-5 pr-5">
                            <p>Are you sure do you want to delete this? </p>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary">Close</button>
                            <button type="button" data-dismiss="modal"  v-on:click="deletePatron()" class="btn btn-sm btn-danger "> Yes </button>
                        </div>  
                  </div>
          </div>
        </div>
      </div>


        <div class="patronselect">
          <h3>Patron Management</h3>
          <img class="patronlogoselect" src="@img/Patron-SELECTED-Logo.png">
        </div>


      </div>
      </div>
</template>

<script>
import toastr from "toastr";

  export default {
    mounted: function () {
      document.title = "Patron Management"
    },
    data() {
      return {
        patrondata: [{
            name: "Melvin Copioso",
            email: "melvin@gmail.com",
            dateregister: 1598781038000,

          },
        ],
        patron: {
          id: "",
          name: "",
          email: "",
          dateregister: this.setDate(Date.now()),
        },
  
      };
    },
    methods: {
      createPatron(patron) {
        if (!this.validate(patron)) {
          for (var e in this.errors) {
            toastr.error(`${this.errors[e]}`, "Failed");
          }
          return;
        }
        this.patrondata.unshift({
          name: patron.name,
          email: patron.email,
          dateregister: patron.dateregister,
        });
        this.clearFields();
        toastr.success("Patron Added!", "Success");
      },
      editPatron(index) {
        this.patron.id = index;
        this.patron.name = this.patrondata[index].name;
        this.patron.email = this.patrondata[index].email;
      },
      updatePatron(patron) {
        if (!this.validate(patron)) {
          for (var e in this.errors) {
            toastr.error(`${this.errors[e]}`, "Failed");
          }
          return;
        }
        this.patrondata[patron.id].name = patron.name;
        this.patrondata[patron.id].email = patron.email;
        this.clearFields();
        toastr.success("Patron Updated!", "Success");
      },
      setDelete(index) {
        this.patronid = index;
      },
      deletePatron() {
        //Delete Patron
        this.$delete(this.patrondata, this.patronid);
        this.clearFields();
      },
      clearFields() {
        //Clear values in patron object
        (this.patron.name = ""),
        (this.patron.email = "");
      },
      setDate(date) {
        var d = new Date(date);
        return `${new Intl.DateTimeFormat("en", { month: "long" }).format(
        d
      )} ${new Intl.DateTimeFormat("en", { day: "2-digit" }).format(
        d
      )}, ${new Intl.DateTimeFormat("en", { year: "numeric" }).format(d)}`;
      },
      validate(patron) {
        this.errors = [];

        if (
          patron.name &&
          patron.email
        )
          return true;

        if (!patron.name) {
          this.errors.push("Fullname is required!");
        }
        if (!patron.email) {
          this.errors.push("Email Address is required!");
        }

        console.log(this.errors);
        return false;
      },

    }
  }
</script>

<style scoped>

@import '../assets/css/style.css';


.modal-content
  {
    background-color: #379683;
    width: 589px;
    height: 415px;
    margin-top: 100px;
    margin-left: 80px;
    color: #EDF5E1;

    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
  
</style>
