<template>
  <div id="settings">
    <div class="home">
        
     
      <div class="bodybg">   
        
      </div>
      
    </div>
    <div class="settingsselect">
        <h5>Settings</h5>
        <img class="settingslogoselect" src="@img/SettingsLogo.png">
    </div>
  </div>
</template>



