
*
{
  margin: 0;
  padding: 0;
  font-family: 'Post No Bills Colombo SemiBold Regular';
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'Post No Bills Colombo SemiBold Regular';
  font-style: normal;
  font-weight: normal;
  src: url('PostNoBillsColombo-SemiBold.woff') format('woff');
  }


#topcolor
{
  background-color: #C0C0C0;
  padding: 10px;
}

#topcolor2
{
  background-color: #ffffff;
  padding: 5px;
}

header
{
  background-image: url(../img/head.jpg);
  height: 18vh;
  background-size: cover;
  background-position: center;
}

text
{
  text-align: right;
  color: #000000;
  padding: 5px;
}

h1
{
  font-size: 60px;
  margin-right: 50px;
}

#topcolor3
{
  background-color: #C0C0C0;
  padding: 7px;
}

ul li
{
  display: inline-block;
}

ul li a
{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#topcolor4
{
  background-color: #C0C0C0;
  padding: 7px; 
}

h2
{
 padding: 80px;
 text-align: right; 
 color: white;
}

#background
{
  background-image: url(../img/back-image.jpg);
  height: 65vh;
  background-size: cover;
  background-position: center;
}

h2
{
  font-size: 50px;
}

#bottomcolor
{
  margin-bottom: 0px;
  background-color: #C0C0C0;
  padding: 7px;
}

.fa-bars
{
  color: rgb(0, 0, 0);
  font-size: 30px !important;
}

.navbar-toggler
{
  outline: none !important ;
}

#gray
{
  background-color: #4F4F4F;
  height: 65vh;
  opacity: 0.5;
  background-size: cover;
  background-position: center;
}

h3
{
  font-size: 20px;
  text-align: center;
}

h4
{
  text-align: center;
  font-size: 20px;
}

#container
{
  width: 580px;
  height: 455px;
  margin-left: 760px;
  background: rgba(255, 255, 255, 0.4);
}