<template>
    <div id="app">
        <div class="sidenav">
            
        <router-link to="/"><h4>Dashboard</h4></router-link>
        <router-link to="patron"><h5>Patron Management</h5></router-link>
        <router-link to="book"><h6>Book Management</h6></router-link>
        <router-link to="settings"><h7>Settings</h7></router-link>

        <img class="dashboardlogo" src="@img/DashboardLogo.png">
        <img class="PMlogo" src="@img/PatronManagementLogo.png">
        <img class="BMlogo" src="@img/BookManagementLogo.png">
        <img class="settingslogo" src="@img/SettingsLogo.png">
        </div>
            <router-view/>
    
    </div>
</template>

<script>
    export default {
    name: "Sidenav"
    }
</script>

