<template>
  <div id="app">

        <Sidenav></Sidenav>
        <Header></Header>

    <router-view />
  </div>
</template>


<script>
import Sidenav from '@navs/Sidenav.vue';
import Header from '@navs/Header.vue';
export default {
  name: 'App',
  components: {
    Sidenav,
    Header
  }
}
</script>


<style>
@import './assets/css/style.css';
</style>
