html, 
body {
  margin: 0;
  padding: 0;
  background-color: #8EE4AF;
}


.bodybg 
{
    background: #EDF5E1;
    position: absolute;
    width: 815px;
    height: 446px;
    left: 344px;
    top: 160px;
}

.body
{
    background: #EDF5E1;
    position: absolute;
    width: 815px;
    height:90px;
    left: 344px;
    top: 160px;
}


.table {
  position: fixed;

}

.LibSys h1{
    color: #05386B;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    margin-left: 80px;
    text-align: left;
    margin-top: 25px;
}

.header{
    background-color: #5CD595;
    position: absolute;
    width: 1241px;
    height: 82px;
    left: 0px;
    top: 0px;
    }



.LibSys img{
    position: absolute;
    width: 60px;
    height: 65px;
    left: 15px;
    top: 10px;
}

.logout img{
    position: absolute;
    width: 36px;
    height: 33px;
    right: 100px;
    top: 25px;
}

.logout h2{
    background: #5CD595;
    text-decoration: none;
    position: absolute;
    width: 59px;
    height: 24px;
    top: 30px;

    color: #05386B;
font-family: Exo;
font-style: normal;
font-weight: bold;
font-size: 18px;
font-family: 'Exo', sans-serif, bold;
    margin-left: 1140px;
}

/* sidenav */
.sidenav
{
    background: #5CD595;
    position: fixed;
    width: 261px;
    height: 615px;
    left: 0px;
    top: 82px;
}

    /*dashboard sidenav*/
.sidenav h4
{
    background: #379683;
    position: absolute;
    width: 261px;
    height: 79px;

    color: #EDF5E1;
    display: block;
    width: 100%;
    line-height: 75px;
    text-decoration: none;
    padding-left: 70px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif, bold;
    text-align: left;
    transition:0.5s;
}
.sidenav h4:hover
{
    background: #8EE4AF;
}
.dashboardlogo
{
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 20px;
    left: 20px;
}
/* dashboard content */
.dashboardselect
  {
    background: #8EE4AF;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 82px;
  }

  .dashboardselect h10
  {
    color: #05386B;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif, bold;
    width: 100%;
    line-height: 75px;
    text-decoration: none;
    text-align: left;
    padding-left: 70px;
    margin-top: 0;
  }
  .dashboardlogoselect
  {
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 20px;
    left: 20px;
  }

  #piechart
  {
    margin-top: -290px;
    margin-left: 430px;
  }

  .bodybg h1
  {
    color: #05386B;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif, bold;
    margin-top: 0px;
    text-align: left;
    margin-top: 30px;;
    margin-left: 50px;
  }

  .bodybg h2
  {
    color: #05386B;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif, bold;
    margin-top: -30px;;
    margin-left: 490px;
  }


/*patron sidenav*/
.sidenav h5
{
    text-decoration: none;
    background: #379683;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 79px;

    color: #EDF5E1;
    display: block;
    width: 100%;
    line-height: 80px;
    text-decoration: none;
    padding-left: 45px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif, bold;
    text-align: center;
    transition:0.5s;
}
.sidenav h5:hover
{
    background: #8EE4AF;
}
.PMlogo
{
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 100px;
    left: 20px;
}
/* patron content */
.patronselect
    {
      background: #8EE4AF;
      position: absolute;
      width: 261px;
      height: 79px;
      left: 0px;
      top: 161px;
    }

  .patronselect h3
  {
    color: #05386B;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif;
    width: 100%;
    line-height: 75px;
    text-decoration: none;
    text-align: left;
    padding-left: 70px;
    margin-top: 0;
  }
  .patronlogoselect
  {
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 18px;
    left: 20px;
  }

 
.title
  {
    margin-top: 20px;
  }
  .title h7
  {
    color: #05386B;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    margin-left: 35px;
  }

  .addpatronlogo
  {
    position: absolute;
    width: 41px;
    height: 38px;
    display: block;
    top: 110px;
    left: 336px;
  }


  .AddPatronBTN h1
  {
    position: absolute;
    background: 8EE4AF;
    color: #05386B;
    width: 589px;
    height: 41px;
    top: 120px;
    left: 380px;

    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }

  .modal-content h10
  {
    position: absolute;
    color: #05386B;
    width: 589px;
    height: 41px;
    margin-left: 53px;
    margin-top: 37px;

    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }

  
  .closeBtn-patron
  {
    position: absolute;
    background-color: #FF8D8D;
    top: 336px;

    width: 30%;
    color: #EDF5E1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 400px;

    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }

  .addpatron-btn
  {
    position: absolute;
    background-color: #05386B;
    top: 336px;

    width: 30%;
    color: #EDF5E1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 200px;

    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }

  .addpatronmodal
  {
    position: absolute;
    width: 41px;
    height: 38px;
    display: block;
    top: 30px;
    left: 5px;
  }

  .active-cyan-2 input[type=text]:focus:not([readonly]) {
      border: 1px solid #379683;
      box-shadow: 0 1px 0 0 #379683;  
  }

  .search
  {
    margin-top: -50px;
    margin-left: 600px;
  }



/*book sidenav*/
.sidenav h6
{
    text-decoration: none;
    background: #379683;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 158px;

    color: #EDF5E1;
    display: block;
    width: 100%;
    line-height: 80px;
    text-decoration: none;
    padding-left: 30px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif, bold;
    text-align: center;
    transition:0.5s;
}
.sidenav h6:hover
{
    background: #8EE4AF;
}

.BMlogo
{
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 180px;
    left: 20px;
}
.bookselect
  {
    background: #8EE4AF;
    position: fixed;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 240px;
  }

  .bookselect h4
  {
    color: #05386B;
    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif, bold;
    width: 100%;
    line-height: 75px;
    text-decoration: none;
    text-align: left;
    padding-left: 70px;
    margin-top: 0;
  }
  .booklogoselect 
  {
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 20px;
    left: 20px;
  }


  .title h5
  {
    color: #05386B;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    margin-left: 35px;
  }

  .addbooklogo
  {
    position: absolute;
    width: 41px;
    height: 38px;
    display: block;
    top: 110px;
    left: 336px;
  }




  table
  {
      border-collapse: collapse;
      background-color: white;
  }
  
  table.list
  {
    width:818px;
    margin-left: 0px;
    margin-top: 10px;
  }

  td, th 
  {
    text-align: center;
    padding: 8px;
    color: #EDF5E1;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif, bold;
    line-height: 24px;
    text-align: left;
  }

  td, tbody
  {
    color: #05386B;
    text-align: center;

  }
    
  td
  {
    border: 1px solid #000000;
  }

  thead
  {
    background-color: #5CD595;
     border: 1px solid #5CD595;
  }


/*
table
{
    border-collapse: collapse;
    background-color: white;
}
table.list
{
    width:65%;
    margin-left: 350px;
    margin-top: 75px;
}

td, th 
{
    border: 1px solid #5CD595;
    text-align: center;
    padding: 8px;
    color: #EDF5E1;
    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

td, tbody 
{
    color: #05386B;
    text-align: center;
}

thead
{
    background-color: #5CD595;
    border: 1px solid #5CD595;
}


*/


  .modal-input
  {
    margin-top: 100px;
    margin-left: 70px;
  }
  .modal-header
  {
    background-color: #5CD595;
    position: absolute;
    width: 589px;
    height: 41px;
    left: 0px;
    top: 30px;
  }

  .AddBookBTN h2
  {
    position: absolute;
    background: 8EE4AF;
    color: #05386B;
    width: 589px;
    height: 41px;
    top: 120px;
    left: 380px;

    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }

  .modal-content h11
  {
    position: absolute;
    color: #05386B;
    width: 589px;
    height: 41px;
    margin-left: 53px;
    margin-top: 37px;

    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }

  

  .closeBtn-book
  {
    position: absolute;
    background-color: #FF8D8D;
    top: 336px;

    width: 30%;
    color: #EDF5E1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 400px;

    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }

  .addbook-btn
  {
    position: absolute;
    background-color: #05386B;
    top: 336px;

    width: 30%;
    color: #EDF5E1;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 200px;

    font-family: Exo, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }

  .addbookmodal
  {
    position: absolute;
    width: 41px;
    height: 38px;
    display: block;
    top: 30px;
    left: 5px;
  }


  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }




  

/*settings sidenav*/
.sidenav h7
{
    text-decoration: none;
    background: #379683;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 237px;

    color: #EDF5E1;
    display: block;
    width: 100%;
    line-height: 70px;
    text-decoration: none;
    padding-left: 67px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif, bold;
    text-align: left;
    transition:0.5s;
}
.sidenav h7:hover
{
    background: #8EE4AF;
}
.settingslogo
{
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 255px;
    left: 20px;
}
/* settings content */
.settingsselect
  {
    background: #8EE4AF;
    position: absolute;
    width: 261px;
    height: 79px;
    left: 0px;
    top: 319px;
  }

  .settingsselect h5
  {
    color: #05386B;
    font-family: Exo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo', sans-serif, bold;
    width: 100%;
    line-height: 75px;
    text-decoration: none;
    text-align: left;
    padding-left: 70px;
    margin-top: 0;
  }
  .settingslogoselect
  {
    position: absolute;
    width: 36px;
    height: 33px;
    display: block;
    top: 20px;
    left: 20px;
  }


















